<h1>Página Sobre</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
    Iusto, reiciendis nulla aliquam excepturi atque assumenda autem ratione dignissimos.<br>
    Minus quaerat dolore, esse excepturi aut voluptates quam id rerum animi eligendi!</p>