{{#section 'styles'}}
<link rel="stylesheet" href="css/contato.css">
{{/section}}

<h1>Cadastro</h1>

<form class="contato" action="salvarContato" method="post">
    <label for="Nome">Nome</label>
    <input class="input" name="nome" type="text">

    <label for="email">Email</label>
    <input class="input" name="email" type="email">

    <label for="senha">Senha</label>
    <input class="input" name="senha" type="password">

    <button>Cadastrar</button>
</form>